<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
<%- include('../includes/navigation.ejs') %>
    <form class="product-form" action="<%= editing ? '/admin/edit-product' : '/admin/add-product' %>" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <% if (editing || hasErrors) { %>
            <input type="hidden" name="id" value="<%= editing || hasErrors ? product._id : '' %>">
        <% } %>
        <div class="form-control">
            <label for="title">Title</label>
            <input 
                class="<%= validationErrors.find(error => error.param === 'title') ? 'invalid' : '' %>"
                type="text" name="title" id="title" value="<%= editing || hasErrors ? product.title : '' %>">
        </div>
        <div class="form-control">
            <label for="author">Author</label>
            <input
                class="<%= validationErrors.find(error => error.param === 'author') ? 'invalid' : '' %>"
                type="text" name="author" id="author" value="<%= editing || hasErrors ? product.author : '' %>">
        </div>
        <!--
        <div class="form-control">
            <label for="image">Image</label>
            <input
                class="<%= validationErrors.find(error => error.param === 'image') ? 'invalid' : '' %>"
                type="text" name="image" id="image" value="<%= editing || hasErrors ? product.image : '' %>">
        </div>
        -->
        <div class="form-control">
            <label for="image">Image</label>
            <input
                class="<%= validationErrors.find(error => error.param === 'image') ? 'invalid' : '' %>"
                type="file" name="image" id="image">
        </div>
        <div class="form-control">
            <label for="price">Price</label>
            <input
                class="<%= validationErrors.find(error => error.param === 'price') ? 'invalid' : '' %>"
                type="number" name="price" id="price" step="0.01" value="<%= editing || hasErrors ? product.price : '' %>">
        </div>
        <div class="form-control">
            <label for="description">Description</label>
            <textarea
                class="<%= validationErrors.find(error => error.param === 'description') ? 'invalid' : '' %>"
                name="description" id="description" rows="5"><%= editing || hasErrors ? product.description : '' %></textarea>
        </div>
        <button class="btn" type="submit"><%= editing ? 'Edit Product' : 'Add Product' %></button>
    </form>
<%- include('../includes/end.ejs') %>