<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
    <% if (products.length > 0) { %>
        <table border="0" width="100%">
            <thead>
                <tr>
                    <th align="left" colspan="2">Product</th>
                    <th align="right" width="100px">Qty</th>
                    <th align="right" width="100px">Price</th>
                    <th align="right" width="100px">Subtotal</th>
                    <th align="center" width="25%">Actions</th>
                </tr>
            </thead>
            <tbody>
            <% for (let product of products) { %>
                <tr>
                    <td align="left" width="75px"><img src="<%= product.image %>" alt="<%= product.title %>" height="75px"></td>
                    <td align="left">
                        <b><%= product.title %></b>
                        <br>
                        <sub>by <%= product.author %></sub>
                    </td>
                    <td align="right"><%= product.cartItem.qty %></td>
                    <td align="right">$<%= product.price %></td>
                    <td align="right">$<%= product.price * product.cartItem.qty %></td>
                    <td align="center">
                        <form action="/delete-from-cart" method="post">
                            <input type="hidden" name="id" value="<%= product.id %>">
                            <button class="btn" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    <% } else { %>
        <p>Cart is empty</p>
    <% } %>
<%- include('../includes/end.ejs') %>