<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
<%- include('../includes/navigation.ejs') %>
    <% if (products.length > 0) { %>
        <div class="grid">
            <% for (let product of products) { %>
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title"><%= product.title %></h1>
                        <h3 class="product__author">by <%= product.author %></h3>
                    </header>
                    <div class="card__image">
                        <img src="/<%= product.image %>" alt="<%= product.title %>" height="480px">
                    </div>
                    <div class="card__content">
                        <h2 class="product__price">$<%= product.price %></h2>
                        <p class="product__description"><%= product.description %></p>
                    </div>
                    <div class="card__actions">
                        <a class="btn" href="/product/<%= product._id %>">Details</a>
                        <% if (isLoggedIn) { %>
                            <%- include('../includes/add-to-cart.ejs', { product: product }) %>
                        <% } %>
                    </div>
                </article>
            <% } %>
        </div>
        <section class="pagination">
            <a href="/?page=1">Page 1</a>
            <a href="/?page=2">Page 2</a>
        </section>
    <% } else { %>
        <p>No products to display</p>
    <% } %>
<%- include('../includes/end.ejs') %>