<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/orders.css">
<%- include('../includes/navigation.ejs') %>
    <% if (orders.length > 0) { %>
        <ul class="orders">
            <% orders.forEach( order => { %>
                <li class="orders__item">
                    <h1>Order #<%= order._id %></h1>
                    <ul class="orders__products">
                        <% order.products.forEach( product => { %>
                            <li class="orders__products-item">
                                <p><%= product.product.title %></p>
                                <p>Quantity: <%= product.quantity %> - $ <%= product.product.price %></p>
                                <p><a href="/order/<%= order._id %>">Download Invoice</a></p>
                            </li>
                        <% }); %>
                    </ul>
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No orders yet</p>
    <% } %>
<%- include('../includes/end.ejs') %>