<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
    <table border="0" cellspacing="0" cellpadding="10">
        <tr>
            <td align="left" valign="top">
                <img src="<%= product.image %>" alt="<%= product.title %>" height="480px">
            </td>
            <td align="left" valign="top">
                <h3 class="product__author">by <%= product.author %></h3>
                <h2 class="product__price">$<%= product.price %></h2>
                <p class="product__description"><%= product.description %></p>
                <% if (isLoggedIn) { %>
                    <%- include('../includes/add-to-cart.ejs', { product: product }) %>
                <% } %>
            </td>
        </tr>
    </table>
<%- include('../includes/end.ejs') %>